body {
	font-size: 16px;
	color: black;
}

/** HEADER **/
.container {
	padding: 0;
}

#header-nav {
  background-color: gray;
  font-family: Georgia, serif;
	border-radius: 0;
  border: 2px solid black;
	border-left-width: 0;
	border-right-width: 0;
}

.navbar-brand {
  padding-top: 20px;
  padding-left: 50px;
  height: auto;

}
.navbar-brand h1{
	color: black;
	margin-top: 0;
  margin-bottom: 0;
}

#nav-list {
  margin: 0px;
}
#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-top-width: 1px;
  border-left-width: 0;
	border-right-width: 0;
}

.navbar-header button.navbar-toggle {
	margin-top: 20px;
	margin-right: 40px;
	height: 40px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
/********** Desktop devices only **********/
@media (min-width: 992px) {

}
/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Mobile devices only **********/
@media (max-width: 767px) {
		
}

